@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    font-family: 'Anton', sans-serif;
}

.form_login{
    display: flex;
    width: 100vh;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}


h1{
    text-align: center;
    font-size: 50px;
}


.logo_ironman{
    margin-top: 100px;
    width: 200px;
}


.login_name{
    width: 100%;
    max-width: 200px;
    color:rgb(85, 86, 87);
    border: 3px solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}


.button_login{
    background-color: rgb(231, 33, 33);
    width: 100%;
    max-width: 200px;
    text-align: center;
    cursor: pointer;
    color: white;
    padding: 10px;
    border-radius: 10px ;
}

.button_login:disabled{
    background-color: #eee;
    color: #aaa;
    border: 1px #aaa solid;
    cursor: auto;

}
